.footer {
  background-color: var(--bg);
  padding: 60px 0px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.button {
  color: var(--marvel-red);
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
}

@media (min-width: 400px) {
  .button {
    color: var(--marvel-red);
    text-decoration: none;
    background-color: white;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 250px;
  }
}